html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000078;
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5%;
    padding-bottom: 3%;
    padding-left: 20%;
    padding-right: 20%;
}

header figure {
    margin: 0;
}

header img {
    max-width: 140px;
    height: auto;
    display: block;
}

nav ul.navegacion {
    list-style: none;
    margin-right: 50%;
    display: flex;
    gap: 20%;
}

nav ul.navegacion li a {
    text-decoration: none;
    color: #000078;
    font-weight: bolder;
}

nav ul.navegacion li a.active{
    text-decoration: underline #FFE000;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2%;
    padding-left: 20%;
    padding-right: 20%;
}

.text-section-1 {
    max-width: 50%;
}

.section-1 h1 {
    font-size: 300%;
    margin-bottom: 5%;
}

.text-section-1 p {
    margin-bottom: 20px;
    font-size: 130%;
    margin-right: 10%;
}

.ultimos_envios {
    background-color: #ffd200;
    color: #000078;
    padding-top: 3.2%;
    padding-bottom: 0;
    padding-left: 5%;
    padding-right: 5%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10%;
}

.ultimos_envios a {
    text-decoration: none;
}

.video iframe {
    width: 400px;
    height: 225px;
}

.section-2 {
    text-align: center;
    background-color: #f3f4f6;
    padding-bottom: 2%;
    padding-left: 17%;
    padding-right: 20%;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.section-2-container {
    display: flex;
    justify-content: center;
    gap: 7%;
    flex-wrap: wrap;
}

.section-2 h2 {
    font-size: 200%;
    margin-bottom: 6%;
    padding-left: 7%;
}

.stats {
    text-align: center;
}

.stats i {
    font-size: 500%;
    margin-bottom: 10px;
}

.stats p {
    margin: 0;
    font-weight: bold;
}

.stats strong {
    font-size: 150%;
}

.section-3 {
    padding: 40px 20px;
    text-align: center;
}

.section-3 h2 {
    font-size: 200%;
    margin-bottom: 3.5%;
}

.section-3 p {
    text-align: left;
    padding-bottom: 1%;
    padding-left: 30%;
    padding-right: 20%;
    font-size: 20px;
}

.section-3 hr {
    margin: 0 auto;
    margin-bottom: 3%;
    width: 43%;
}

.publicar {
    flex: 1;
    padding: 3% 20%;
}

.publicar h1 {
    font-size: 400%;
}

.envios {
    text-align: left;
    padding-left: 20%;
    padding-right: 20%;
    flex: 1;
    padding-bottom: 5%;
}

.envios h1 {
    font-size: 300%;
    margin-bottom: 3%;
}

.grid-container {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr 1fr 0.5fr;
    gap: 0;
    padding: 0;
    text-align: center;
}
  
.header {
    font-weight: bold;
    background-color: white;
}

.grid-container > div {
    margin: 0;
    padding: 10px;
    border-bottom: 2px solid #000078;
}

.grid-container > div:nth-child(-n+6) {
    border-top: 2px solid #000078;
}

.gris {
    background-color: #D0D0D0;
}

.pie-de-pagina {
    background-color: #D0D0D0;
    text-align: center;
    padding-bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: 90%;
    border-top: 2px solid #73EDFF;
}