.tabla {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columnas iguales */
  gap: 0; /* Elimina el espacio entre las celdas */
  margin: 20px auto;
  max-width: 90%;
  border-collapse: collapse; /* Asegura bordes consistentes */
}

.fila1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* Encabezados con 6 columnas */
  font-weight: bold;
  color: #000078;
  text-align: center;
  border-bottom: 2px solid #000078; /* Línea debajo de los encabezados */
}

.fila-oscura, .fila-normal {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columnas */
  text-align: center;
  font-size: 0.9rem;
  border-bottom: 1px solid #D0D0D0; /* Línea divisoria entre filas */
}

.fila-normal {
  background-color: white;
}

.fila-oscura {
  background-color: #F5F5F5;
}

.thead {
  padding: 10px;
  font-weight: bold;
  color: #000078;
  text-align: center;
  border-bottom: 2px solid #000078; /* Línea de separación */
}

.fila-normal p, .fila-oscura p {
  padding: 10px;
  margin: 0;
  word-wrap: break-word;
}

.fila-normal a, .fila-oscura a {
  color: #000078;
  text-decoration: none;
  word-wrap: break-word;
}

.info {
  font-size: 0.8rem;
  margin-top: 20px;
  color: #000078;
  text-align: center;
}
