* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient( #FAFAFA 6%, #98C1FF 14%, #98C1FF 86%, #66D034 89%);

}

a {
    text-decoration: none;
    color: black;
    width: fit-content;
    height: fit-content;
}

header {
    display: flex;
    justify-content: space-between;
}

.portada {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
}

.img-portada .texto-portada {
    position: absolute;
    top: 50%;
}

.texto-portada {
    color: white;
    font-size: 300%;
}

.animales {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    margin-left: 25%;
}

.aves img, .mamiferos img {
    width: 70%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.aves figcaption, .mamiferos figcaption {
    bottom: 10px;
    left: 48%;
    font-size: 300%;
}

.pie-pagina {
    color: white;
    padding: 20px;
    text-align: center;
}

.pie-pagina .derechos {
    font-size: 1.2em;
}

.pie-pagina img {
    width: 150px;
    margin-top: 10px;
}
