* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient( #FAFAFA 6%, #98C1FF 14%, #98C1FF 91%, #66D034 94%);
}

a {
    text-decoration: none;
    color: black;
    width: fit-content;
    height: fit-content;
}

header {
    display: flex;
    justify-content: space-between;
}

header .nombre {
    width: 578px;
    height: 145px;
}

.portada {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    position: relative;
}

figure img {
    width: 80%;
    height: auto;
}

.img-portada .inter-texto-portada {
    position: absolute;
    top: 31%;
    left: 13%;
    text-wrap: wrap;
}

.inter-texto-portada-strong {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-size: 80px;
    font-weight: 900;
    font-style: normal;
}

.inter-texto-portada {
    color: white;
    font-size: 64px;
    text-align: left;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.animales {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    position: relative;
    margin-left: 22.5%;
    margin-bottom: 80px;
}

.aves , .mamiferos {
    width: 90%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.aves figcaption, .mamiferos figcaption {
    bottom: 10px;
    font-size: 300%;
}

.pie-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: black;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.301);
}

.pie-pagina .derechos {
    position: absolute;
    text-align: center;
    left: 50%;
    font-size: 1.2em;
    transform: translateX(-50%);
}

.pie-pagina img {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1.5%;
    width: 200px;
    height: auto;
}
